* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    height: 50px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
header .div_header_izquierda {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
header .div_header_derecha {
    height: 100%;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}
header figure {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
header .div_header_izquierda figure {
    background-color: rgb(213, 213, 213);
}
header img {
    width: 25px;
    height: 25px;
}
header .div_header_izquierda > p {
    padding-left: 5px;
    padding-right: 20px;
    font-size: 20px;
}
header .div_header_izquierda nav ul {
    display: flex;
    list-style-type: none;
    
}
header .div_header_izquierda nav ul li {
    color: gray;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
header .div_header_izquierda nav ul :hover {
    background-color: #F9F5FF;
    color: #6941C6;
}

header .div_header_derecha figure #usuario {
    width: 30px;
    height: 30px;
}

main{
    width: 100%;
    height: 500px;
    background-color:rgb(244, 251, 252);
}
main .divizquierda{
    
    padding: 10px 10px;
    width:75% ;

}
main .dividerecha{
    padding: 10px 30px;
    
    position:absolute;
    top: 85px;
    right:0;
    width:280px;

    
}
.btn{
    text-decoration: none;
    padding: 4px 10px;
   font-family: arial;
   border-radius: 4px;
  
}


.bnt-blanco{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(222, 215, 215, 0.763);
}


.bnt-morado{
    background-color: rgb(127, 86, 217);
    color: white;
    border: 1px solid rgba(222, 215, 215, 0.763);
    padding: 8px 12px;
}
#ladoInferior {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100% - 100px;
    height: 600px;
    display: flex;
    margin: 0px 50px 0px 50px;
}

#ladoIzquierdo {
    width: 65%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.seccion {
    background-color: white;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}
#sec_balanceEnTiempo {
    height: 100%;
    display: flex;
    flex-flow: column;
}
.titulosBandejas{
    font-size: 22px;
    font-weight: 500;
}
#sec_balanceEnTiempo figure {
    width: 100%;
}
#sec_balanceEnTiempo figure img {
    width: 100%;
}
#sec_balanceEnTiempo ul {
    list-style: none;
    color: gray;
    display: flex;
    justify-content: space-around;
}
#sec_tarjetas {
    height: 100%;
}
#div_tarjeta1 {
    background-color: #344054;
    border-radius: 20px;
    height: 200px;
    width: 400px;
}

#sec_depositos {
    width: 35%;
    height: 100% - 14px;
}
#btselecdate{
    padding: 6px 10px;
    position:relative;
    top: 45px;
    right:0px;
    left: 10;
   
}
#btfiltres{
    padding: 6px 8px;
    position:relative;
    top: 45px;
    right:1px;
    
}

.circular-progreso{
    width: 8rem;
    height: 8rem;
   
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(0deg, #7F56D9 50%, #F4EBFF 50% );
    position: relative;
    top: px;
    
    right:160px;
    transform: rotate(220deg);
}

.circular-progreso::after{
    
 content: "";
 width: 8rem;
 height: 8rem;
 position: absolute;
 top: 0;
 left: 0;
 background: rgb(255, 255, 255) content-box;
 border-radius: 50%;
 padding: 2em;
 box-sizing: border-box;
 font-size: 1rem;
 color: aqua;
 text-align: center;
 line-height: 8rem;

  transform: rotate(-280deg);
}
.circular-progreso::before{
    content: "";
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(transparent 50%,#5a4b99b0 50%);
   transform: scale(1) rotate(-280deg);
   text-align: center;
   color: aqua;
   line-height: 13rem;
   
}


#divM{

    background-color: #ffffff;
    color: #16063a;
    padding: 50px 30px;
    
    position:absolute;
    top: 200px;
    right:40;
    width:625px;
    height: 160px;
 margin: 18px;
    margin-left: 50px;
    border-radius: 10px;
}
#divM h4{
    
    position:absolute;
    top: 20px;
    right:200px;
    width:200px;
    height: 160px;

}
#divM h5{
    color: gray;
    position:absolute;
    top: 60px;
    right:200px;
    width:200px;
    height: 160px;

}
#divM p{
    font-size: 28px;

    position:absolute;
    top: 80px;
    right:200px;
    width:200px;
    height: 160px;
    


}
#divM  #fSubir{
 
    color: #027A48;
    position:absolute;
    top: 80px;
    right:100px;
    
    height: 160px;


}
#btltresP{
    padding: 6px 8px;
    position:absolute;
    top: 0px;
    right:10px;

}
#divC{

    padding: 6px 8px;
    position:absolute;
    top: 20px;
    right:450px;
}

.circular-progreso2{
    width: 8rem;
    height: 8rem;
   
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(0deg, #2b2b2d 50%, #F4EBFF 50% );
    position: relative;
    top: px;
    
    right:160px;
    transform: rotate(220deg);
}

.circular-progreso2::after{
    
 content: "";
 width: 8rem;
 height: 8rem;
 position: absolute;
 top: 0;
 left: 0;
 background: rgb(255, 255, 255) content-box;
 border-radius: 50%;
 padding: 2em;
 box-sizing: border-box;
 font-size: 1rem;
 color: aqua;
 text-align: center;
 line-height: 8rem;

  transform: rotate(-280deg);
}
.circular-progreso2::before{
    content: "";
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(transparent 50%,#2c7773b0 50%);
   transform: scale(1) rotate(-280deg);
   text-align: center;
   color: aqua;
   line-height: 13rem;
   
}

#divM2{

    background-color: #ffffff;
    color: #16063a;
    padding: 50px 30px;
    
    position:absolute;
    top: 200px;
    right:0;
    width:625px;
    height: 160px;
 margin: 18px;
 margin-right: 50px;
    
    border-radius: 10px;
}
#divM2 h4{
    
    position:absolute;
    top: 20px;
    right:200px;
    width:200px;
    height: 160px;

}
#divM2 h5{
    color: gray;
    position:absolute;
    top: 60px;
    right:200px;
    width:200px;
    height: 160px;

}
#divM2 p{
    font-size: 28px;

    position:absolute;
    top: 80px;
    right:200px;
    width:200px;
    height: 160px;


}
#divM2  #fSubir2{
 
    color: #027A48;
    position:absolute;
    top: 80px;
    right:100px;
    
    height: 160px;


}
#btltresP2{
    padding: 6px 8px;
    position:absolute;
    top: 0px;
    right:10px;

}
#divC2{

    padding: 6px 8px;
    position:absolute;
    top: 20px;
    right:450px;
}

